body {
	background-color: #a9a9a9;
}

.Calculator {
	background-color: brown;
	height: 350px;
	width: 700px;
	padding: 15px;
}

#input {
	height: 35px;
	width: 670px;
	margin: 2px 0px;
}

.enter {
	width: 150px;
	height: 25px;
	margin-bottom: 15px;

}

.numbers {
	display: block;
}

.nums {
	width: 100px;
	height: 50px;
	margin: 5px;
	font-size: 25px;
}

#return {
	    position: absolute;
    height: 50px;
    width: 216px;
    margin: 5px;
    margin-left: 9px;
}